extends layout

block content
  h1= "GIF Grabber"
  form(action="/category/", method="post")
    select(name="category")
      if admin
        option(value="-1/unapproved/") Unapproved
      each category in categories
        -
          let selected = false
          if(category.id == categoryId){
            selected = true
          }
        option(value=category.id + "/" + URL.encode(category.name) + "/", selected=selected)= category.name
    button(type="submit") Go

  if gifs
    .gifs
      each gif in gifs
        .gif-box
          .gif-expand
          .gif-content
            h4.gif-title= gif.title
            -
              let src = "/images/" + gif.id + "." + gif.type
              let fullSrc = `https://${host}${src}`
              let isVideo = (gif.type == "mp4")
              let preview = false
              if(gif.type == "gif"){
                preview = "/images/" + gif.id + ".jpg"
              }
            .gif-image-contain(data-type=gif.type)
              if !isVideo
                img.gif-image(src=src)
                if preview
                  .gif-preview
                    img(src=preview)
              else
                video.gif-image(controls, src=src)
            .gif-caption= gif.caption
            .origin Origin:
              div
                a.gif-link(href=gif.url)=gif.url
            .rehosted Rehosted at:
              div
                a.gif-link(href=fullSrc)=fullSrc
            if admin
              .edit
                a(href="/edit/" + gif.id + "/" + URL.encode(gif.title)) Edit
    if page > 0
      a(href="./" + (page)) Previous
    a(href="./" + (page + 2)) Next

    form(action="/gif/", method="post")
      h2= "Add a GIF"
      input(type="hidden", name="category", value=categoryId)
      input(type="hidden", name="returnTo", value=returnTo)
      input(type="text", name="title", placeholder="Title")
      input(type="text", name="url", cols="30", rows="10", placeholder="URL")
      textarea(name="caption", cols="30", rows="10", placeholder="Caption")
      button(type="submit") Add